.fb-container {
  width: 100%;
  min-height: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fb-container .fb-toolbar {
  display: block;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  margin: 10px -12px;
  border-bottom: 1px solid #ccc;
}

.fb-container .row.fb-dropzone {
  height: 150px;
  border: 1px dashed grey;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.fb-container .row.fb-dropzone > div {
  height: 100%;
}

.fb-container .row.fb-dropzone div.hover {
  background: #cccccc30;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fb-container .fb-element-item {
  width: 100%;
  height: 35px;
  cursor: grab;
  border: none;
  outline: none;
  background: rgb(255 255 255);
  border-radius: 8px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  display: block;
}

.fb-container .fb-element-item span {
  width: calc(100% - 105px);
  text-align: center;
}

.fb-container .fb-element-item ion-icon {
  width: 100px;
  height: 32px;
}

.fb-container .fb-element-item ion-icon[name="tablet-landscape-outline"] {
  color: #ff4d4f;
}

.fb-container .fb-element-item ion-icon[name="grid-outline"] {
  color: #4d50ff;
}
