.fb-container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.fb-container .fb-toolbar {
  display: block;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  margin: 10px -12px;
  border-bottom: 1px solid #ccc;
}

.fb-container .row.fb-dropzone {
  height: 150px;
  border: 1px dashed grey;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.fb-container .row.fb-dropzone > div {
  height: 100%;
}

.fb-container .row.fb-dropzone div.hover {
  background: #cccccc30;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fb-container .widgets-container td.ant-table-cell {
  padding: 0 !important;
  /* border-top:  1px dashed #4d50ff !important; */
}

/* .fb-container .widgets-container .fb-element-item {
  border: 1px dashed #4d50ff;
} */

.fb-container .fb-element-item.dragging {
  border: none !important;
}

.fb-container .fb-element-item {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  cursor: grab;
  border: none;
  outline: none;
  background: rgb(255 255 255);
  border-radius: 8px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  display: flex;
}

.fb-container .fb-element-item span {
  width: calc(100% - 105px);
  text-align: center;
  margin-top: 4px;
}

.fb-container .fb-element-item ion-icon {
  width: 65px;
  height: 40px;
  margin-top: 4px;
}

.fb-container .fb-element-item ion-icon {
  color: #4d50ff;
}

div.inputs {
  margin-bottom: 15px;
  border-radius: 6px;
  padding: 25px 20px;
  border: 1px solid rgb(238, 238, 238);
  display: flex !important;
  position: relative;
}
div.inputs .title {
  position: absolute;
  background: #fff;
  top: -11px;
  right: 15px;
  font-weight: 600;
  padding: 0 5px;
}

div.inputs label {
  margin-left: 3px;
  margin-right: 3px;
}

/*=============*/

.dragcontainer {
  width: 100%;
  height: 725px;
  position: relative;
  border: 1px solid var(--bs-gray-400);
  border-radius: 5px;
  margin: 10px -12px;
  background: #f8f9fa;
}

.dragitem {
  display: inline-block;
}

.dragitem:hover {
  cursor: pointer;
}
.dragitem.selected {
  border: 1px solid #999;
}

.dragitem input,
.dragitem .ant-select,
.dragitem select,
.dragitem .ant-input,
.draglayer input,
.draglayer .ant-select,
.draglayer select,
.draglayer .ant-input {
  width: 150px;
}
.draglayer {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.draglayer .ant-select-dropdown-empty,
.dragitem .ant-select-dropdown-empty {
  display: none !important;
}

.preview-modal .form-preview {
  position: relative;
  min-height: 700px;
}

.preview-modal .form-preview .preview-element {
  position: absolute;
  width: fit-content;
}

.preview-modal .form-preview .preview-element .ant-input,
.preview-modal .form-preview .preview-element .ant-select,
.preview-modal .form-preview .preview-element input,
.preview-modal .form-preview .preview-element select {
  width: 150px;
}
